.example-container {
  width: 200px;
  height: 100%;
  background: #F5F5F5;
  padding: 20px;
  color: #4A8FDC;
}

.example-sidenav-content {
  display: flex;
}

.btn-active:hover {
  color: chocolate;
}