<!-- Sidenav -->
    <mat-drawer-container class="example-container" autosize>
      <h3>Menu</h3>
      <div class="example-sidenav-content btn-active"  >
        <button 
          type="button "
          mat-button 
          routerLink="/home" 
        >
       Home
      </button>
      </div>
      <div class="example-sidenav-content btn-active"  >
        <button 
          type="button "
          mat-button 
          routerLink="/screen-panels" 
        >
       Tela de Paineis
      </button>
      </div>
      <div class="example-sidenav-content btn-active" *ngIf="this.perfilAdmin" >
        <button 
          type="button "
          mat-button 
          routerLink="/parametrization" 
        >
       Parametrização
      </button>
      </div>

      <div class="example-sidenav-content btn-active" *ngIf="this.perfilAdmin" >
        <button 
          type="button "
          mat-button 
          routerLink="/eventos" 
        >
       Eventos
      </button>
      </div>
    </mat-drawer-container>

    

