<!-- <img src="../../../../assets/images/logos/painel.svg" /> -->

<div style="width: 96%;">
  <mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
      <div class="d-flex justify-content-between">
        <mat-card-title class="title">Paineis</mat-card-title>
        <button
          title="Adicionar Paineis"
          (click)="newDashboard()"
          class="btn btn-info my-1 text-white"
          type="button"
        >
          Adicionar Painel
        </button>
      </div>

      <div class="table-responsive m-t-16">
        <table mat-table [dataSource]="dataSource" class="w-100">
          <!-- Image Column -->
          <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
              Imagem
            </th>
            <td mat-cell *matCellDef="let element">
              <div class="d-flex align-items-center">
                <img
                  src="../../../../assets/images/logos/analogicatec.web7039.uni5_.net-painel-eletronico-de-senha-guiche-5-digitos-painel-eletronico-de-senha-guiche-5-digitos-display3.png"
                  alt="users" width="60" class="rounded-circle" />
              </div>
            </td>
          </ng-container>

          <!-- Dashboard Column -->
          <ng-container matColumnDef="dashboard">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
              Painel
            </th>
            <td mat-cell *matCellDef="let element" class="mat-body-1">
              {{ element.nome }}
            </td>
          </ng-container>

          <!-- IP Column -->
          <ng-container matColumnDef="ip">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
              IP
            </th>
            <td mat-cell *matCellDef="let element" class="mat-body-1">
              {{ element.ip }}
            </td>
          </ng-container>

          <!-- Id Point Column -->
          <ng-container matColumnDef="idPoint">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
              ID Ponto
            </th>
            <td mat-cell *matCellDef="let element" class="mat-body-1">
              {{ element.id_ponto }}
            </td>
          </ng-container>

          <!-- Model Column -->
          <ng-container matColumnDef="model">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
              Modelo
            </th>
            <td mat-cell *matCellDef="let element" class="mat-body-1">
              {{ element.modelo }}
            </td>
          </ng-container>

          <!-- Door Column -->
          <ng-container matColumnDef="door">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
              Porta
            </th>
            <td mat-cell *matCellDef="let element" class="mat-body-1">
              {{ element.porta }}
            </td>
          </ng-container>

          <!-- Patrimonio Column -->
          <ng-container matColumnDef="patrimonio">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
              Patrimônio
            </th>
            <td mat-cell *matCellDef="let element" class="mat-body-1">
              {{ element.patrimonio }}
            </td>
          </ng-container>

          <!-- Ativo Column -->
          <ng-container matColumnDef="active">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="f-w-600 mat-subtitle-1 f-s-14"
            >
              Ativo
            </th>
            <td mat-cell *matCellDef="let element">
              <ng-template [ngIf]="element.flag_ativo == true">
                <span
                  class="bg-success text-white p-1 rounded f-w-600 p-6 p-y-4 f-s-12"
                >
                  HABILITADO
                </span>
              </ng-template>
              <ng-template [ngIf]="element.flag_ativo == false">
                <span
                  class="bg-light-error text-white bg-danger rounded p-1 f-w-600 p-6 p-y-4 f-s-12"
                >
                  DESABILITADO
                </span>
              </ng-template>
            </td>
          </ng-container>

          <!-- Last Status -->
          <ng-container matColumnDef="last_status">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
              Status
            </th>
            <td mat-cell *matCellDef="let element" class="mat-body-1">
              <ng-template [ngIf]="element.ultimo_status == 'NORMAL'">
                <span
                  class="bg-success text-white p-1 rounded f-w-600 p-6 p-y-4 f-s-12"
                >
                  {{ element.ultimo_status }}
                </span>
              </ng-template>
              <ng-template
                [ngIf]="
                  element.ultimo_status != 'NORMAL' &&
                  element.ultimo_status != '' &&
                  element.ultimo_status != null
                "
              >
                <span
                  class="bg-light-warning text-white bg-warning p-1 rounded f-w-600 p-6 p-y-4 f-s-12"
                >
                  {{ element.ultimo_status }}
                </span>
              </ng-template>
            </td>
          </ng-container>
          <!-- Mensagem Column -->
          <ng-container matColumnDef="message" >
           
            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
              Mensagem
            </th>
            <td mat-cell *matCellDef="let element" >
              <mat-icon
                (click)="openDialog(element.ip, element.porta, element.nome)"
                class="style-icon message"
                title="Mensagens"
                >message</mat-icon
              >
            </td>
          
          </ng-container>

          <!-- Update Column -->
          <ng-container matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
              Atualizar
            </th>
            <td mat-cell *matCellDef="let element" class="update-cell">
              <mat-icon (click)="updateDashboard(element)" title="Editar" class="style-icon update">edit</mat-icon>
            </td>
          </ng-container>

          <!-- Delete Column -->
          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
              Excluir
            </th>
            <td mat-cell *matCellDef="let element" >
              <mat-icon
                title="Apagar"
                class="style-icon delete"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                (click)="openConfirmDialog(element._id)"
                >delete</mat-icon
              >
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator
          [pageSizeOptions]="[20]"
          showFirstLastButtons
          aria-label="Select page of periodic elements"
        >
        </mat-paginator>
      </div>
      <div class="d-flex justify-content-between" *ngId="perfilAdmin">
        <button class="btn btn-warning text-white my-1" type="button">Logs</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>












