.title{
    color: #3a74b6;
    font-weight: bolder;
}

.add {
    color: rgb(55, 0, 255);
    font-weight: bolder;
    cursor: pointer;
}

.update {
    color: rgb(101, 189, 189);
    cursor: pointer;
}

.delete {
    color: rgb(146, 74, 74);
    cursor: pointer;
}