<div class="blank-layout-container d-flex justify-content-center align-items-center bg-light-primary mt-5">
    <div
      class="position-relative row w-100 h-100 bg-gredient justify-content-center"
    >
      <div class="col-lg-4 d-flex align-items-center">
        <mat-card class="cardWithShadow boxed-auth">
          <mat-card-content class="p-32">  
            <form class="m-t-30">
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
                >Digite seu email para recuperar senha</mat-label
              >
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput />
              </mat-form-field>
              <!-- password -->
              <a [routerLink]="['/']" mat-flat-button class="w-100 btn-register">
                Enviar
              </a>
              <!-- input -->
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  
